.Header {
    height:80px;
    display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  padding: 20px; /* Adds some padding */
  background-color: #0158A4; /* Light background color */
  position: fixed; /* Fixes the header at the top */
  top: 0; /* Aligns it to the top */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Makes the header full width */
  z-index: 1000; /* Ensures it is above other content */
  color:#ffffff;
}