* {
    box-sizing: border-box; /* Ensure padding and borders are included in element's total width and height */
  }
  
  .container-dash {
    display: flex;          /* Use flexbox for the container */
    width: 100vw;           /* Full width of the viewport */
    padding-bottom: 50px; 
    padding-top: 5px;
    justify-content: space-between;
    align-items: top;
    text-align: center;
  }
  .dash-ico {
    width: 30px;
    margin-right: 20px;
  }
  .block-dash {
    display: flex;          /* Use flexbox for each block */
    justify-content: center; /* Center content horizontally */
    align-items: top;    /* Center content vertically */
    padding: 20px;          /* Padding around each block */
    margin: 10px;           /* Margin between blocks */
    flex: 1;                
  }
  
  .text-block {
    flex: 1;                /* Takes equal space as other blocks */
  }
  
  .button-group {
    display: flex;          /* Use flexbox for the button group */
    gap: 15px;             /* Space between buttons */
  }
  
  .button {
    padding: 10px 15px;    /* Button padding */
    font-size: 16px;        /* Button text size */
    cursor: pointer;        /* Pointer cursor on hover */
  }


  
  .text-block {
    flex: 1;
    padding: 10px;
  }
  
  .button-column {
    flex: 2; /* or 3 for the other block */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .AI-ChatBot-button {
    font-size: 18px;
    min-width: 250px;
    min-height: 50px;
    background-color: #FFC439;
    border: 0;
    border-radius: 15px;
    padding: 12px 25px;
    cursor: pointer;
    margin-top: 40px;
  }

  .ChatBot-button-wrap {
    padding-right: 80px;
    display: flex;           
    align-items: flex-end; 
    margin-right: 0px;
    flex-direction: column;
    position: absolute;
    bottom: 60px; 
    left: 0; 
    right: 0; 
  }
  .AI-ChatBot-description {
    display: block;
    font-size: 14px;
  }


.card-dash {
    min-height: 60px;
    border: 0px;
    min-width: 400px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 10px 20px;        /* Padding around the text */
    margin: 10px;              /* Space between buttons */
    text-align: center;        /* Center the text inside the button */
    text-decoration: none;     /* Remove underline from links */
    font-size: 16px;           /* Font size */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  .card-dash:hover {
    background-color: #c8e1ff; /* Change color on hover */
    cursor: pointer;           /* Change cursor on hover */
  }